body{
  margin: 0;
  padding: 0;
  background-image: url("istockphoto-1435226158-170667a.webp");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size:cover;
  background-position: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
section{
  width: auto;
  height: auto;
  background-color:rgb(5, 60, 80);
  display: flex;
  align-items: center;
  padding: 20px 20px 10px 20px;
  justify-content: center;
  margin-top: calc(50% - 45%);
}

.header ul li{
   display: inline-block;
   margin-right: 100px;
}
.header ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hello p{
  color:darkorchid;
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hello span{
  color: white;
  font-weight: bold;
}

.input {
  margin-top: 30px;
}
input{
  background-color: rgb(7, 90, 118);
  padding: 2%;
  border-radius:5px;
}
.mail{
  margin-top: 20px;
}
.mess{
  margin-top: 20px;
}
.mess input{
  width: 65%;
  height: 200px;
  /* padding-top: 0; */

}
button{
  margin-top: 10px;
  padding: 2%;
  background-color: rgb(124, 10, 48);
  color: #fff;
  border-radius: 10px;
}
button:hover{
  background-color: blueviolet;
}
.part2{
  /* background-color: red; */
  margin-top:-15%;
  /* padding-right: 2px; */
  /* padding:2%; */
  /* background-color: rebeccapurple; */
}
.part2 p{
  text-align: center;
  margin-top: -20px;
  text-decoration: none;
  color: #8a187e;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.part2 span{
  font-size: 30px;
  color: #8a187e;
  font-weight: bolder;
}
.part2 address{
  color: #fff;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.icons{
  margin-top: 80px;
}
ul{
  position: relative;
  left:-35px;
}

.icons ul li{
  display: inline-block;
  margin-right: 20px;
}
.icons ul li img {
  /* font-size: xx-large; */
  height: 40px;
  width: 40px;
}
#facebook{
  border-radius: 50%;
}
#linkedin{
  border-radius: 6px;
}

